mat-card-content {
  font-family: "Roboto";
  text-align: center;
}

.container {
  background-color: whitesmoke;
  display: flex;
  font-family: "Roboto";
  height: 94vh;
  width: 26kvw;
  flex-flow: row wrap;
  align-items: stretch;
  margin:0;
  padding:0;
  justify-content: top;
}
  
.scrolling-container {
  display: block;
  width: 24.5vw;
  height: 91vh;
  overflow-y: scroll;
}

.mat-mdc-list-item {
  display: flex;
  flex: 45%;
  border: 1px solid slategrey;
  background-color: whitesmoke;
}
.mdc-list-item.mdc-list-item--with-one-line{
  height: 8vh;
}
.property-box {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.property-name {
  font-family: "Roboto";
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 1px;
}

.property-price {
  font-family: "Roboto";
  font-size: 18px;
  text-align: left;
}
