<div *ngIf="!property">
    <mat-card>
        <mat-card-content>Select a property on the left to see more information!</mat-card-content>
    </mat-card>
</div>

<div *ngIf="property">
    <mat-card color="primary">
        <mat-card-header bold>{{ property.address }}</mat-card-header>
        <p></p>
        <mat-card-content>Assessed value: ${{property.assessedvalue}}</mat-card-content>
        <mat-card-content>Date posted: {{property.date}}</mat-card-content>
        <mat-card-content>Description:</mat-card-content>
        <mat-card-content style="font-style:italic">{{ property.description }}</mat-card-content>
    </mat-card>
</div>
