.homeSearchBar {
    padding: 4px 5px;
    background: white (50, 50, 50, 0.2);
    border: 0px solid #dbdbdb;
    height: 25px;
    width: 200px;
}

form {
    width: 300px;
    margin: 50px auto;
}

.container {
    padding: 4rem;
    width: 100rem;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  .list {
    padding: 1rem;
    width: 100%;
    height: 10rem;
    border: 0.1rem solid grey;
    overflow: auto;
  }
  
  .add-members-container input {
    border: none;
    border-bottom: 0.1rem solid rgba(128, 128, 128, 0.418);
    margin-right: 0.5rem;
    width: 50%;
    display: flex;
  }
  
  .add-members-container button {
    width: 50%;
    border: none;
    color: white;
    font-weight: 400;
    cursor: pointer;
    background-color: rgb(0, 53, 139);
    margin-top: 0.5rem;
  }
  
  .input-container {
    margin: 1rem;
    display: flex;
    height: 3rem;
  }
  
  .input-container button {
    margin-right: auto;
    width: 7%;
    height: 75%;
    border: none;
  }
  
  .input-container input {
    margin-left: auto;
    width: 25%;
    height: 75%
  }
  
  .card {
    padding: 2rem;
    width: 50%;
  }
  
  .error-msg {
    color: red;
  }
