#homePageTitleText {
    color: white;
    font-family: sans-serif;
    background-color: green;
    font-size: 34pt;
    font-weight: lighter;
    outline-style: solid white 2px;
    text-align: center;
}

<<<<<<< Updated upstream
form {
    width: 500px;
    margin: 50px auto;
}

.homeSearchBar {
    padding: 4px 5px;
    background: white (50, 50, 50, 0.2);
    border: 0px solid #dbdbdb;
    height: 25px;
    width: 200px;
}

.container {
    padding: 4rem;
    width: 40rem;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  .list {
    padding: 1rem;
    width: 100%;
    height: 10rem;
    border: 0.1rem solid grey;
    overflow: auto;
  }
  
  .add-members-container input {
    border: none;
    border-bottom: 0.1rem solid rgba(128, 128, 128, 0.418);
    margin-right: 0.5rem;
    width: 100%;
    display: flex;
  }
  
  .add-members-container button {
    width: 100%;
    border: none;
    color: white;
    font-weight: 400;
    cursor: pointer;
    background-color: rgb(0, 53, 139);
    margin-top: 0.5rem;
  }
  
  .input-container {
    margin: 1rem;
    display: flex;
    height: 3rem;
  }
  
  .input-container button {
    width: 50%;
    background-color: darkcyan;
    border: none;
    color: white;
  }
  
  .input-container input {
    width: 50%;
  }
  
  .card {
    padding: 2rem;
    width: 100%;
  }
  
  .error-msg {
    color: red;
  }
=======
.flex-row-container {
  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  .flex-row-container > .flex-row-item {
    flex: 1 1 30%; /*grow | shrink | basis */
    height: 500px;
  }
  
  .flex-row-item {
  background-color: #fff4e6;
  border: 1px solid #000000;
  text-align: center;
  }    
  @media  screen and (max-width:481px) {
    .flex-row-container > .flex-row-item {
      flex: 100%
    }
  }

>>>>>>> Stashed changes
