#homePageTitleText {
    color: white;
    font-family: sans-serif;
    background-color: green;
    font-size: 34pt;
    font-weight: lighter;
    outline-style: solid white 2px;
    text-align: center;
}

