@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto';
    color: var(--text-color);
    margin: 0;
    --header-color: #D1DFB7;
    --sidebar-color: #FAE6BE;
    --text-color: black;
}

:host {
    display: flex;
    flex-direction: column;
    height: 88vh;
    align-items: center;
    justify-content: center;
}
main {
    display: flex;
    flex-grow: 1;
}
.map-container {
    flex-grow: 1;
    width: 50%;
}
.ol-attribution {
    left: 10px;
  }
  
