.property-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .property-container h2{
    font-size: 1.5em;
      margin-block-start: 0;
      margin-block-end: 0.3em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
  }
  .property-box {
    border: 1px solid black;
    padding: 5px;
    width: 40%;
    text-align: center;
  }
  .property-details {
    display: flex;
    flex-wrap: wrap;
  }
  .property-details p {
    margin: 0;
    margin-right: 10px;
  }
  .property-details strong {
    margin-right: 5px;
  }